html {
    font-family: calibri;
    background-color: #F4A460;

}

body {
    background-color: #FAFAD2;
    width: 98%;

}
.wrapper {
    margin: 0 auto;
}

img {
    max-width:100%;
    display:block;
}

h1 {
    color: #808080;
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: calibri;
    font-size: 12px;
}

.pbor {
    border: 2px solid slategray;
    width: 30%;
    padding: 20px;
    margin: 5px auto;
}

.subti {
    font-size: 18px;
    border-left: 7px solid red;
    padding: 5px;
    color: rgb(60, 60, 60);
}

.bgpg {
    color: #FFF;
    background-color:#CD853F;
    padding: 20px;
    width: 30%;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
}

.nav li {
    float: right;
}

.nav {
    display: block;
    background-color: brown;
    line-height: 50px;
}

.nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 5px 16px;
}

.nav a:hover {
    background-color: #CD853F;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
}

